* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#principal, .hijo{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.contenedor, .hijo{
    width: 300px;
    height: 300px;
    background-color: gainsboro;
    border: 2px solid;
}
.contenedor .hijo{
    border:none;
    background-color: rgb(7, 17, 46);
    color: aqua;
    font-size: 2rem;
    transition: all 1.5s;
  /*  animation-name: animacion;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-duration: 3s;
   animation-delay: 5s; */
}

.hijo:hover{
background-color: crimson;
width: 400px;
border-radius: 50%;
}

@keyframes animacion {
    0%{
        border-radius: 4px;
    }
    
    25%{
        border-radius: 25px;
    }
    
    50%{
        border-radius: 50px;
    }
    
    75%{
        border-radius: 40%;
        background-color: crimson;
    }
    100%{
        border-radius: 50%;
    }
    
}
/* 90deg */